{% extends 'base.html' %}
{% load static %}

{%  block main_area %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://picsum.photos/seed/126/600/700" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">--------------------------------------</div>
                <h1 class="display-5 fw-bolder">HOMEPAGE</h1>
                <div class="small mb-1">--------------------------------------</div>
                <p class="lead">Morbi et libero ultricies, euismod quam a, rutrum eros. In purus tortor, congue tincidunt augue eget, auctor hendrerit diam. Maecenas pulvinar vestibulum pellentesque. Proin ut felis ex. Vestibulum elementum viverra mi in accumsan. Morbi a lacinia lectus. Fusce commodo dolor ac lacus varius, a tempor leo dignissim. Vivamus commodo vitae lacus eget hendrerit. Nullam facilisis, purus eu ullamcorper cursus, odio diam ultrices est, a tristique leo metus eget est. Nunc ac orci quis ex congue lobortis. Morbi ut sapien porta sapien dapibus mollis ut vel neque. Duis vel felis non mauris eleifend luctus non sit amet nibh.</p>
                <div class="d-flex">
    
                </div>
            </div>
        </div>
    </div>
</section>

{%  endblock main_area %}